# colcon outputs
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Local YOLO weights
/yolo26n-seg.pt

# Temporary/local SDF
model_in.sdf
/ros_ws/src/robot_bringup/models

# System outputs
data/maps/raw/*
data/maps/before_strip/*
data/maps/after_strip/*
data/maps/semantic/*
data/logs/*
data/results/*
data/datasets/*
data/recordings/*
!data/maps/raw/.gitkeep
!data/maps/before_strip/.gitkeep
!data/maps/after_strip/.gitkeep
!data/maps/semantic/.gitkeep
!data/logs/.gitkeep
!data/results/.gitkeep
!data/datasets/.gitkeep
!data/recordings/.gitkeep
